<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAubx4fZ9J-ISAEEvEoCote6R0v0Re1RvY</string>
	<key>GCM_SENDER_ID</key>
	<string>768847026435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.catalogueApp</string>
	<key>PROJECT_ID</key>
	<string>tagtweaker-sheersh</string>
	<key>STORAGE_BUCKET</key>
	<string>tagtweaker-sheersh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768847026435:ios:b79072a4f2db9b96167136</string>
</dict>
</plist>